nextflow.enable.dsl=2

params {
  counts_path = "data/GSE126848/GSE126848_Gene_counts_raw.txt"
  series_path = "data/GSE126848_series_matrix.txt"
  outdir      = "results"
  run_ml      = true
  run_shap    = true
}

process {
  errorStrategy = 'terminate'
}
process.container = 'liver-omics-ai-pipeline:latest'
docker.enabled = true
